
<div class="container">
    <h2>Recuperar Contraseña</h2>
    
    <!-- Formulario de Recuperación de Contraseña -->
    <form [formGroup]="contrasenaForm" (ngSubmit)="enviarCorreo()">
      
      <!-- Campo de correo electrónico -->
      <div class="input-group">
        <input 
          type="email" 
          formControlName="correo" 
          id="correo" 
          placeholder="Introduce tu correo electrónico" 
          required 
          [ngClass]="{'is-invalid': contrasenaForm.get('correo')?.invalid && contrasenaForm.get('correo')?.touched}">
      </div>
  
      <!-- Mensaje de validación del correo -->
      <div *ngIf="contrasenaForm.get('correo')?.invalid && contrasenaForm.get('correo')?.touched" class="error-message">
        <small *ngIf="contrasenaForm.get('correo')?.hasError('required')">El correo es obligatorio.</small>
        <small *ngIf="contrasenaForm.get('correo')?.hasError('email')">Por favor, introduce un correo válido.</small>
      </div>
  
      <!-- Botón de enviar código -->
      <button class="button" type="submit" [disabled]="contrasenaForm.invalid">Enviar Código</button>
    </form>
  
    <!-- Mensaje de resultado -->
    <div class="message" *ngIf="mensaje">{{ mensaje }}</div>
  </div>
  
  